footer{
  position:absolute;
  bottom:0;
  width: 100%;
  text-align: center;
}

.no-underline{
  text-decoration: none;
}

/* 7. Warm and Bold Theme */
.color1{
  color: #000000
}

.color2{
  color: #062F4F
}

.color3{
  color: #813772
}

.color4{
  color: #B82601
}

.bg-color1{
  background-color: #000000
}

.bg-color2{
  background-color: #062F4F
}

.bg-color3{
  background-color: #813772
}

.bg-color4{
  background-color: #B82601
}

.white-text{
  color: white;
}
